{% load static %}
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">PortFolio</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll" href="#work">Work</a>
          </li>
          <li class="nav-item">
          <a href="#" data-toggle="modal" class="nav-link js-scroll" data-target="#login-modal">Contact</a>
          </li>
           <li class="nav-item">
             {% if not user.is_authenticated %}
            <a class="nav-link js-scroll" href="{% url 'account_login' %}">login</a>
             {% else %}
            <a class="nav-link js-scroll" href="{% url 'account_logout' %}">logout</a>
             {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url({% static 'img/overlay.jpg' %})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h1 class="intro-title mb-4">I am Jatin Popli</h1>
          <p class="intro-subtitle"><span class="text-slider-items" style="transition-delay: 10s;">Web Developer,Web Designer,Frontend Developer,Backend Designer</span><strong class="text-slider" style="transition-delay: 10s;" ></strong></p>
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->