
{% load static %}

<html lang="en">
<!--{% include 'portfolio/head.html' %}-->
{% include 'navbar.html' %}
<body>
<section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
{% for blog in blog_set %}
           <div class="post-box">
            <div class="post-thumb">
              {% if blog.cover %}
              <img src="{{ blog.cover.url }}" class="img-fluid" alt="">
              {% endif %}
            </div>
            <div class="post-meta">
                <a href="{% url 'detail' pk=blog.pk %}"> <h1 class="article-title">{{ blog.title }}</h1></a>
              <ul>
                <li>
                  <span class="ion-ios-person"></span>
                  <a href="#">{{ blog.author }}</a>
                </li>
                <li>
                  <span class="ion-pricetag"></span>
                  <a href="#">{{ blog.category }}</a>
                </li>
                <li>
                  <span class="ion-chatbox"></span>
                  <a href="#">{{ blog.commentCount }}</a>
                </li>
              </ul>
            </div>
               <div class="article-content">
             {{ blog.desc|safe }} ...
            </div>

          </div>

{% endfor %}
        </div>

    <div class="col-md-4">
        {% include 'blog/search-form.html' %}
                  <div class="widget-sidebar">
            <h5 class="sidebar-title">Recent Post</h5>
            <div class="sidebar-content">
              <ul class="list-sidebar">
                <li>
                  <a href="#">Atque placeat maiores.</a>
                </li>
                <li>
                  <a href="#">Lorem ipsum dolor sit amet consectetur</a>
                </li>
                <li>
                  <a href="#">Nam quo autem exercitationem.</a>
                </li>
                <li>
                  <a href="#">Atque placeat maiores nam quo autem</a>
                </li>
                <li>
                  <a href="#">Nam quo autem exercitationem.</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
          </div>
         </div>
    </section>


    {% include 'portfolio/scripts.html' %}
</body>
</html>
